<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<h1>Welcome to RecruitTracker!<small><a href="https://vetswhocode.io/"> by vetswhocode</a></small></h1><br>

<h3>If you are a new troop and wish apply to our next cohort click the Sign Up link to get started.</h3><br>
<h4>After registering for the site you will recieve an email with further instructions.</h4>
