<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.first_name %> your profile status in RecruitTracker has changed to <b><%= @new_status %></b></p>
    <% if @comments %>
      Additional comments from recruit manager:<br>
    	<%= @comments %>
    <% end %>
    <p>Contact your recruit manager if you have any questions.</p>
    <p>
  </body>
</html>