
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Your profile status in RecruitTracker has changed to <%= @new_status %></p>
    <p>
  </body>
</html>