
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.first_name %> your profile status in RecruitTracker has changed to <b><%= @new_status %></b></p>
    <p>Contact your VWC liason if you have any questions.</p>
    <p>
  </body>
</html>