
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Thank you for registering for RecruitTracker by Vets Who Code.</p>
    <p>Your login is <%= @user.email %>!</p>
    <p>
      
    What now?<br>

    -Login to RecruitTracker
    -Go to your your profile page and begin completing your profile based on the prework in https://github.com/Vets-Who-Code/prework
    -Track and update your prework in /profile
    -When your prework is complete and ready for review click the Submit for Review button
    -Someone from Vetswhocode will review your prework and provide feedback via email and/or you will be accepted to the program.
    -After being accepted more info will be provided via email or phone.
    </p>
  </body>
</html>