
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Thank you for registering for RecruitTracker by Vets Who Code.</p>
    <p>Your login is <%= @user.email %>!</p>
    <p>
    What now?<br>
    --------------------------
    Content coming soon: we need info here about what the next steps are for recruits.
    </p>
  </body>
</html>