/* :root {
  --flag-red: #9b1c2c;
  --flag-blue: #041E42;
  --white: #ffffff;
}

html {
  font-family: Arial;
}
body {
  background-color: var(--flag-blue);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white);
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: var(--white);
  text-align: center;
}

a:link {
  color: var(--white);
}

a:hover {
  color: var(--flag-red);
}

a:visited {
  color: clear;
} */